<ion-content>
  <div class="logoBar">
    <img src="assets/logo.svg">
    <div class="menuBar">
      <ul>
        <li>Home</li>
        <li>Learn</li>
        <li>Members</li>
        <li><button color='light' (click)="applyForm()">Apply Form</button></li>
        <li><button color='light' (click)="checkResult('hard')">Hard Verification</button></li>
        <li><button color='light' (click)="checkResult('light')">Light Verification</button></li>
      </ul>
    </div>
  </div>
  <div class="entertainment">
    <div class="enterTextCover">  
      <img src="assets/background.svg" alt="">
    </div>
    
    <div class="formCover">

      <div class="form1">
        <div class="enterText">
          <h3>Congratulations, Welcome to your professional community</h3>
        </div>
        <fieldset >
          <legend> Your Employment Information </legend>
            <ion-input >
              <div class="inlineField">Employment type</div>  
              <div class="inlineField rightField">: {{workTime}}</div> 
            </ion-input>
            <ion-input >
              <div class="inlineField">Available time to work</div>  
              <div class="inlineField rightField">: {{timeAvailable}}</div> 
            </ion-input>
            <ion-input >
              <div class="inlineField">High school</div>  
              <div class="inlineField rightField">: {{highSchool}}</div> 
            </ion-input>
            <ion-input >
              <div class="inlineField">Your Education</div>  
              <div class="inlineField rightField">: {{education}}</div> 
            </ion-input>
            <ion-input >
              <div class="inlineField">Graduated</div>  
              <div class="inlineField rightField">: {{graduated}}</div> 
            </ion-input>
            <ion-input >
              <div class="inlineField">College - University</div>  
              <div class="inlineField rightField">: {{university}}</div> 
            </ion-input>
            <ion-input >
              <div class="inlineField">Have you ever been convicted or a crime</div>  
              <div class="inlineField rightField">: {{convicted}}</div> 
            </ion-input>   
        </fieldset>

      </div>
      <div class="exampleTag">
        <h3>SUGGESTED SEARCHES</h3>
        <div class="exampleContent">
          <div class="example">Sales</div>
          <div class="example">Engineering</div>
          <div class="example">Bussiness Development</div>
          <div class="example">Healthcare</div>
          <div class="example">Finance</div>
          <div class="example">Marking</div>
          <div class="example">HR</div>
          <div class="example">Administrative</div>
          <div class="example">Support</div>
          <div class="example">Operations</div>
          <div class="example">Legal</div>
        </div>
      </div>

    </div>
  </div>
  <div class="description">
    <div class="community">
      <div class="comLeft">
        <h3>Find your community</h3>
        <p>Find a job</p>
      </div>
      <div class="comRight">
        <p>No matter your profession, we’re in it together</p>
      </div>
    </div>
    <div class="note">
      <p calss="note-content"><b>Note:</b> This website is privately owned and used for testing purposes only. It is not affiliated with any government or entity mentioned herein.</p>
    </div>
  </div>
  <div class="bottomBar">
    <img src="assets/bottomBar.png">
  </div>

</ion-content>
