.logoBar{
  width: 100%;
  padding: 20px 80px;
  .menuBar{
      display: inline-block;
      float: right;
      ul{
          list-style-type: none;
          li{
              display: inline;
              margin: 10px 20px;
          }
      }
  }
}

.entertainment{
  height: inherit;

  .enterTextCover{
      padding: 30px;
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      img{
          width: 60%;
          float: right;
      }
  }
  
  .formCover{
      position: relative;
      width: 100%;
      display: inline-block;
      height: 100%;
      padding: 20px;

      .form1{
        text-align: left;
        position: absolute;
        margin: auto;
        left: 30px;
        bottom: 250px;
        background-color: white;
        border-radius: 10px;
        width: 45%;
        height: fit-content;
        .enterText{
            position: relative;
            width: 100%;
            padding-bottom: 50px;
            h3{
                position: relative;
                text-align: center;
                font-size: 50px;
                color:#1F83FF;
                margin-left: 50px;
            }
        }


        fieldset{
          border-radius: 5px;
          // border: 1px solid #ADADAD;
          // box-shadow: 0px 0px 5px #2EB5A9;
          box-shadow: 0px 5px 15px #4c8dff;
          margin-bottom: 30px;
          width: 80%;
          margin: auto;
          legend{
              text-align: center;
              font-size: 24px;
              font-weight: 600;
          }
          ion-input{
              margin: 20px;
              // line-height: 25px;
              font-size: 18px;
              --padding-top:0px;
              --padding-bottom:0px;
          }
      }
      .inlineField{
          display: inline-block;
          width: 40%;
          
      }
      .rightField{
          float: right;
      }

    }
    .exampleTag{
      float: right;
      width: 50%;
      h3{

      }
      .exampleContent{
        width: 80%;
        .example{
            border-radius: 5px;
            background-color: #F4EEEE;
            color: #5F5F5F;
            text-align: center;
            width: fit-content;
            padding: 10px 30px;
            display: inline-block;
            margin: 10px 20px;
            cursor: pointer;
        }
      }
    }
}

}
.description{
  padding: 150px 0px 40px 0px;
  .community{
      border: 1px solid #1F83FF;
      background-color: rgba(83, 159, 253, 0.2);
      border-radius: 5px;
      height: 200px;
      .comLeft{
          display: inline-block;
          width: 50%;
          text-align: center;
          position: relative;
          float: left;
          height: 100%;
          h3{
              font-size: 30px;
              font-weight: 600;
              color:#D8482F;
              position: absolute;
              margin: auto;
              left:0;
              right:0;
              top: 40px;
          }
          p{
              font-size: 20px;
              line-height: 40px;
              background-color: white;
              width: 120px;
              border-radius: 50px;
              position: absolute;
              margin: 0 auto;
              top:120px;
              left:0;
              right:0;
              cursor: pointer;
          }
      }
      .comRight{
          text-align: center;
          display: inline-block;
          width: 50%;
          font-size: 35px;
          float: left;
          height: 100%;
          position: relative;
          p{
              position: absolute;
              margin: auto 0;
              top:0;
              bottom:0;
              width:100%;
              height: fit-content;
          }
      }
  }
  
  .note{
      display: none;
      height: 100px;
      padding: 0 20px;
      background-color: rgba(83, 159, 253, 0.2);
      border: 1px solid #1F83FF;
      border-radius: 5px;
      margin: 100px 90px;
      p{
          line-height: 70px;
          position: relative;
      }
  }
}
.bottomBar{
  width: 100%;
  img{
      width: 100%;
  }
}

@media only screen and (max-width: 1400px) {
    .logoBar{
        width: 100%;
        padding: 20px 20px;
        img{
            max-width: 80%;
        }
        .menuBar{
            display: inline-block;
            float: right;
            ul{
                list-style-type: none;
                li{
                    display: inline;
                    margin: 10px 10px;
                    button{
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    
    .entertainment{
        height: inherit;
        .enterTextCover{
            h3{
                font-size: 40px ;
            }
            p{
                font-size: 20px ;
            }
        }
        .formCover{
            .form1{
                text-align: center;
                position: absolute;
                margin: auto;
                // left: 30px;
                bottom: 50px;
                background-color: white;
                border-radius: 10px;
                width: 45%;
                height: fit-content;
                .btnStart{
                    ion-button{
                        width: fit-content;
                    }
                }
                .enterText{
                    position: relative;
                    width: 100%;
                    padding-bottom: 25px;
                    h3{
                        position: relative;
                        font-size: 30px;
                        color:#1F83FF;
                        margin-left: 0px;
                    }
                }
                .welComeHeader{
                    display: none;
                }
    
                .formHeader{
                    height: 60px ;
                    line-height: 60px ;
                    font-size: 28px ;
                }

                    fieldset{
                        width: 95%;
                        text-align: left;
                        margin-bottom: 15px ;
                        legend{
                            font-size: 22px;
                        }
                        ion-input{
                            font-size: 15px;
                            --padding-top:0;
                            --padding-bottom:0
                        }
                        ion-select{
                            --padding-top:0;
                            --padding-bottom:0
                        }
                    }
                    .checkBox{
                        margin: 20px 0 ;
                    }
                    .btnContinue{
                        margin-top: 10px;
                        ion-button{
                            height: 40px ;
                            font-size: 18px ;
                        }
                    }
            }
 
            .exampleTag{
                h3{
                    font-size: 18px;
                }
                .exampleContent{
                    width: 100%;
                    .example{
                        width: fit-content;
                        padding: 10px 15px;
                        margin: 10px;
                        font-size: 14px;

                    }
                }
            }

        }
    }
        .description{
        padding: 20px 0px 20px 0px;
        .community{
            border: 1px solid #1F83FF;
            background-color: rgba(83, 159, 253, 0.2);
            // border-radius: 5px;
            height: 100px;
            .comLeft{
                display: inline-block;
                width: 50%;
                text-align: center;
                position: relative;
                float: left;
                height: 100%;
                h3{
                    font-size: 16px;
                    // font-weight: 600;
                    color:#D8482F;
                    position: absolute;
                    margin: auto;
                    left:0;
                    right:0;
                    top: 20px;
                }
                p{
                    font-size: 11px;
                    line-height: 23px;
                    background-color: white;
                    width: 70px;
                    border-radius: 50px;
                    border: 1px solid rgb(102, 98, 98);
                    position: absolute;
                    margin: 0 auto;
                    top:50px;
                    left:0;
                    right:0;
                    cursor: pointer;
                }
            }
            .comRight{
                text-align: left;
                display: inline-block;
                width: 50%;
                font-size: 15px;
                float: left;
                height: 100%;
                position: relative;
                p{
                    position: absolute;
                    margin: auto 0;
                    top:20px;
                    color: #645c5c;
                    // bottom:0;
                    width:100%;
                    height: fit-content;
                }
            }
        }
        
        .note{
            display: none;
            padding: 0px 10px;
            background-color: rgba(83, 159, 253, 0.2);
            border: 1px solid #1F83FF;
            border-radius: 10px;
            margin: 30px 30px;
            height: fit-content;
            p{
                line-height: 16px;
                font-size: 14px;
                position: relative;
            }
        }
    
        .content{
            // position: absolute;    
            // margin-top: -250px;
    
            .text-content1{
                padding:  0 10px;
                background-color: rgba(147, 152, 158, 0.2);
                font-size: 12px;
                margin-top: 35px;
                text-align: center;
                line-height: 18px;
                color: #464242;
                border: 1px solid rgba(147, 152, 158, 0.2);
                // color: saturation($color: #000000);
            }
            .text-content{
                font-size: 12px;
                padding:0 20px;
                line-height: 18px;
                text-align: justify;
                color: #464242;
            }
            .link{
                margin: 20px;
                font-size: 13px;
                padding: 10px;
                text-align: center;
                border: 3px solid rgb(28, 107, 204);
                border-radius: 10px;
                font-weight: 600;
                a{
                    position: relative;
                    padding-right: 30px;
                    text-decoration: none;
                    font-weight: 600;
                    background-image: url('../../assets/pointer.svg');
                    background-repeat: no-repeat;
    
                    top:0;
                    bottom: 0;
                    margin: auto;
                    width: 100px;
                    background-size: 20px 20px;
                    background-color: blue($color: #1F83FF);
                    background-position: right;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .logoBar{
        width: 100%;
        padding: 20px 20px;
        img{
            max-width: 50%;
        }
        .menuBar{
            display: inline-block;
            float: right;
            ul{
                list-style-type: none;
                margin-block-start: 0;
                li{
                    display: inline;
                    margin: 10px 5px;
                    font-size: 12px;
                    button{
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                        font-size: 11px;
                    }
                }
            }
        }
    }
    
    .entertainment{
        height: inherit;
    
        .enterTextCover{
            padding: 30px;
            position: relative;
            display: none;
            // display: inline-block;
            width: 100%;
            height: 100%;
            img{
                width: 60%;
                float: right;
            }
        }
        
        .formCover{
            padding: 15px;
            .form1{
                position: relative;
                margin: auto;
                // right: 0;
                // top: -400px;//-350px for big screen
                left: 0px;
                bottom: 0px;
                background-color: white;
                // border: 1px solid black;
                border-radius: 10px;
                width: 100%;
                height: fit-content;
                .welcome{
                    font-size: 30px;
                    text-align: center;
                    color: blue;
                    font-weight: 600;
    
                }

                .enterText{
                    position: relative;
                    width: 100%;
                    padding-bottom: 25px;
                    h3{
                        position: relative;
                        font-size: 27px;
                        color:#1F83FF;
                        margin-left: 0px;
                    }
                }
                .welComeHeader{
                    display: none;
                }
    
                h3{
                    
                    color: #29A889;
                    font-size: 30px;
                    text-align: center;
                }
                .formHeader{
                    text-align: center;
                    background-color: #1F83FF;
                    border-radius: 5px 5px 0 0;
                    height: 80px;
                    line-height: 80px;
                    color: white;
                    font-size: 30px;
                }

                    fieldset{
                        width: 90%;
                        text-align: left;
                        border-radius: 5px;
                        border: 1px solid #ADADAD;
                        margin-bottom: 20px;
                        legend{
                            text-align: center;
                            font-size: 18px;
                        }
                        ion-input{
                            --padding-top:5px;
                            --padding-bottom:5px;
                            font-size: 14px;
                            margin: 15px;
                        }
                        ion-select{
                            --padding-top:5px;
                            --padding-bottom:5px;
                        }
                    }
                    .inlineField{
                        display: inline-block;
                        width: 45%;
                        
                    }
                    .rightField{
                        float: right;
                    }
                    .checkBox{
                        margin: 30px 0;
                        position: relative;
                        ion-checkbox{
                            position: absolute;
                            margin: auto;
                            top: 0;
                            bottom: 0;
                            --border-color: #1F83FF;
                            --border-radius:0px;
                        }
                        p{
                            margin-left: 40px;
                        }
                    }   

                
                .exampleTag{
                    padding-top: 0;
                }
            }

            .exampleTag{
                float: right;
                width: 100%;
                padding-top: 30px;
                h3{
                    font-size: 16px;
                }
                .exampleContent{
                    width: 100%;
                    .example{
                        border-radius: 5px;
                        background-color: #F4EEEE;
                        color: #5F5F5F;
                        font-size: 13px;
                        text-align: center;
                        width: fit-content;
                        padding: 10px 15px;
                        display: inline-block;
                        margin: 8px 6px;
                        cursor: pointer;
                    }
                }
            }
        }
        
    }
    
    .description{
        padding: 20px 0px 20px 0px;
        .community{
            border: 1px solid #1F83FF;
            background-color: rgba(83, 159, 253, 0.2);
            // border-radius: 5px;
            height: 100px;
            .comLeft{
                display: inline-block;
                width: 50%;
                text-align: center;
                position: relative;
                float: left;
                height: 100%;
                h3{
                    font-size: 14px;
                    // font-weight: 600;
                    color:#D8482F;
                    position: absolute;
                    margin: auto;
                    left:0;
                    right:0;
                    top: 20px;
                }
                p{
                    font-size: 11px;
                    line-height: 23px;
                    background-color: white;
                    width: 70px;
                    border-radius: 50px;
                    border: 1px solid rgb(102, 98, 98);
                    position: absolute;
                    margin: 0 auto;
                    top:50px;
                    left:0;
                    right:0;
                    cursor: pointer;
                }
            }
            .comRight{
                text-align: left;
                display: inline-block;
                width: 50%;
                font-size: 13px;
                float: left;
                height: 100%;
                position: relative;
                p{
                    position: absolute;
                    margin: auto 0;
                    top:20px;
                    color: #645c5c;
                    // bottom:0;
                    width:100%;
                    height: fit-content;
                }
            }
        }
        
        .note{
            display: none;
            padding: 0px 10px;
            background-color: rgba(83, 159, 253, 0.2);
            border: 1px solid #1F83FF;
            border-radius: 10px;
            margin: 30px 30px;
            height: fit-content;
            p{
                line-height: 16px;
                font-size: 12px;
                position: relative;
            }
        }
    
        .content{
            // position: absolute;    
            // margin-top: -250px;
    
            .text-content1{
                padding:  0 10px;
                background-color: rgba(147, 152, 158, 0.2);
                font-size: 12px;
                margin-top: 35px;
                text-align: center;
                line-height: 18px;
                color: #464242;
                border: 1px solid rgba(147, 152, 158, 0.2);
                // color: saturation($color: #000000);
            }
            .text-content{
                font-size: 12px;
                padding:0 20px;
                line-height: 18px;
                text-align: justify;
                color: #464242;
            }
            .link{
                margin: 20px;
                font-size: 13px;
                padding: 10px;
                text-align: center;
                border: 3px solid rgb(28, 107, 204);
                border-radius: 10px;
                font-weight: 600;
                a{
                    position: relative;
                    padding-right: 30px;
                    text-decoration: none;
                    font-weight: 600;
                    background-image: url('../../assets/pointer.svg');
                    background-repeat: no-repeat;
    
                    top:0;
                    bottom: 0;
                    margin: auto;
                    width: 100px;
                    background-size: 20px 20px;
                    background-color: blue($color: #1F83FF);
                    background-position: right;
                }
            }
        }
    }
    .bottomBar{
        width: 100%;
        img{
            width: 100%;
        }
    }
}